body {
    background-color: #2E3D53;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif; 
}
.login-container {
    background-color: #F4F0EB;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    height: 100%;
    max-height: 450px;
}
.login-container h2 {
    font-weight: bold;
}
.btn-login {
    background-color: #2D1B46;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}
.btn-login:hover {
    background-color: #3A2757;
}
.form-control {
    border-radius: 8px;
    background: #fff;
}